<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <nav>
        <div class="container">
            <img src="../static/img/pokebola.png" alt="pokebola" width="60px">
            <h1>Pokedex</h1>
        </div>
        <div class="sub">
            <p>todos los pokemones</p>
        </div>
        <div class="boton">
            <a href=""><i class="bi bi-list-ul"></i><span>Ver todos</span></a>
            <a href=""><i class="bi bi-funnel-fill"></i><span>Ver 5 primeros</span></a>
        </div>
        <div class="container">
            <img src="../static/img/Bulbasaur.png" alt="bulbasaur" width="120px">
        </div>
        <div class="sub">
            <p>bulbasaur</p>
            <h1>planta</h1><h1>veneno</h1>
        </div>
    </nav>
</body>
</html>